.loader {
  position: relative;
  display: flex;
  &__fullPage {
    position: absolute;
    // ensure loader is always on top
    z-index: 9999;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.85);
  }
  &__component {
    position: absolute;
    // ensure loader is always on top
    z-index: 9999;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.85);
  }
}

.loader__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  height: auto;
  min-height: inherit;
  &__fullPage {
    position: absolute;
    top: 0;
  }
}
