:root {
  /**
 /* @tokens RootColorsDimensions
 /* @presenter Color
 */
  --brand-primary: #b2182b;
  --brand-secondary: #f8e7ea;
  --color-neutral-0: #ffffffff;
  --color-neutral-100: #f7f8f9ff;
  --color-neutral-200: #f1f2f4ff;
  --color-neutral-300: #dcdfe4ff;
  --color-neutral-400: #b3b9c4ff;
  --color-neutral-500: #8590a2ff;
  --color-neutral-600: #758195ff;
  --color-neutral-700: #626f86ff;
  --color-neutral-800: #44546fff;
  --color-neutral-900: #2c3e5dff;
  --color-neutral-1000: #172b4dff;
  --color-neutral-1100: #091e42ff;
  --color-blue-100: #e9f2ffff;
  --color-blue-200: #cce0ffff;
  --color-blue-300: #85b8ffff;
  --color-blue-400: #579dffff;
  --color-blue-500: #388bffff;
  --color-blue-600: #1d7afcff;
  --color-blue-700: #0c66e4ff;
  --color-blue-800: #0055ccff;
  --color-blue-900: #09326cff;
  --color-blue-1000: #1c2b41ff;
  --color-green-100: #dcfff1ff;
  --color-green-200: #baf3dbff;
  --color-green-300: #7ee2b8ff;
  --color-green-400: #4bce97ff;
  --color-green-500: #2abb7fff;
  --color-green-600: #22a06bff;
  --color-green-700: #1f845aff;
  --color-green-800: #216e4eff;
  --color-green-900: #164b35ff;
  --color-green-1000: #1c3329ff;
  --color-yellow-100: #fff7d6ff;
  --color-yellow-200: #f8e6a0ff;
  --color-yellow-300: #f5cd47ff;
  --color-yellow-400: #e2b203ff;
  --color-yellow-500: #cf9f02ff;
  --color-yellow-600: #b38600ff;
  --color-yellow-700: #946f00ff;
  --color-yellow-800: #7f5f01ff;
  --color-yellow-900: #533f04ff;
  --color-yellow-1000: #332e1bff;
  --color-red-100: #ffecebff;
  --color-red-200: #ffd5d2ff;
  --color-red-300: #fd9891ff;
  --color-red-400: #f87168ff;
  --color-red-500: #f15b50ff;
  --color-red-600: #e2483dff;
  --color-red-700: #c9372cff;
  --color-red-800: #ae2e24ff;
  --color-red-900: #5d1f1aff;
  --color-red-1000: #42221fff;
  --color-orange-100: #fff3ebff;
  --color-orange-200: #fedec8ff;
  --color-orange-300: #fec195ff;
  --color-orange-400: #fea362ff;
  --color-orange-500: #f38a3fff;
  --color-orange-600: #e56910ff;
  --color-orange-700: #c25100ff;
  --color-orange-800: #a54800ff;
  --color-orange-900: #702e00ff;
  --color-orange-1000: #38291eff;
  --color-brand-100: #feecf0ff;
  --color-brand-200: #fdced7ff;
  --color-brand-300: #ee9ca2ff;
  --color-brand-400: #e4767eff;
  --color-brand-500: #f0565fff;
  --color-brand-600: #f64448ff;
  --color-brand-700: #e73b47ff;
  --color-brand-800: #d53240ff;
  --color-brand-900: #c82c38ff;
  --color-brand-1000: #b9212dff;
  --color-alpha-6: #091e420f;
  --color-alpha-3: #091e4208;
  --color-alpha-14: #091e4224;
  --color-alpha-32: #091e4252;
  --color-alpha-50: #091e4280;
  --color-dark-neutral-0: #161a1dff;
  --color-dark-neutral-100: #1d2125ff;
  --color-dark-neutral-200: #22272bff;
  --color-dark-neutral-300: #2c333aff;
  --color-dark-neutral-400: #454f59ff;
  --color-dark-neutral-500: #596773ff;
  --color-dark-neutral-600: #738496ff;
  --color-dark-neutral-700: #8c9babff;
  --color-dark-neutral-800: #9fadbcff;
  --color-dark-neutral-900: #b6c2cfff;
  --color-dark-neutral-1000: #c7d1dbff;
  --color-dark-neutral-1100: #dee4eaff;
  --color-dark-alpha-4: #bcd6f00a;
  --color-dark-alpha-8: #a1bdd914;
  --color-dark-alpha-10: #c8e1f91a;
  --color-dark-alpha-16: #a6c5e229;
  --color-dark-alpha-20: #c3defe33;
  --color-dark-alpha-50: #9bb4ca80;
  --color-lime-100: #efffd6ff;
  --color-lime-200: #d3f1a7ff;
  --color-lime-300: #b3df72ff;
  --color-lime-400: #94c748ff;
  --color-lime-500: #82b536ff;
  --color-lime-600: #6a9a23ff;
  --color-lime-700: #5b7f24ff;
  --color-lime-800: #4c6b1fff;
  --color-lime-900: #37471fff;
  --color-lime-1000: #28311bff;
  --color-teal-100: #e7f9ffff;
  --color-teal-200: #c6edfbff;
  --color-teal-300: #9dd9eeff;
  --color-teal-400: #6cc3e0ff;
  --color-teal-500: #42b2d7ff;
  --color-teal-600: #2898bdff;
  --color-teal-700: #227d9bff;
  --color-teal-800: #206a83ff;
  --color-teal-900: #164555ff;
  --color-teal-1000: #1e3137ff;
  --color-purple-100: #f3f0ffff;
  --color-purple-200: #dfd8fdff;
  --color-purple-300: #b8acf6ff;
  --color-purple-400: #9f8fefff;
  --color-purple-500: #8f7ee7ff;
  --color-purple-600: #8270dbff;
  --color-purple-700: #6e5dc6ff;
  --color-purple-800: #5e4db2ff;
  --color-purple-900: #352c63ff;
  --color-purple-1000: #2b273fff;
  --color-magenta-100: #ffecf8ff;
  --color-magenta-200: #fdd0ecff;
  --color-magenta-300: #f797d2ff;
  --color-magenta-400: #e774bbff;
  --color-magenta-500: #da62acff;
  --color-magenta-600: #cd519dff;
  --color-magenta-700: #ae4787ff;
  --color-magenta-800: #943d73ff;
  --color-magenta-900: #50253fff;
  --color-magenta-1000: #3d2232ff;
  --dimensions-100: 8px;
  --dimensions-125: 10px;
  --dimensions-150: 12px;
  --dimensions-200: 16px;
  --dimensions-250: 20px;
  --dimensions-300: 24px;
  --dimensions-350: 28px;
  --dimensions-400: 32px;
  --dimensions-450: 36px;
  --dimensions-500: 40px;
  --dimensions-550: 44px;
  --dimensions-600: 48px;
  --dimensions-800: 64px;
  --dimensions-1000: 80px;
  --dimensions-1200: 124px;
  --dimensions-1400: 1000px;
  --dimensions-none: 0px;
  --dimensions-025: 2px;
  --dimensions-050: 4px;
  --dimensions-075: 6px;

  /**
 /* @tokens RootTypo
 /* @presenter FontSize
 */
  --font-weight-regular: Regular;
  --font-weight-medium: Medium;
  --font-weight-semi-bold: 600;
  --font-weight-bold: Bold;
  --font-size-100: 10px;
  --font-size-150: 11px;
  --font-size-200: 12px;
  --font-size-300: 14px;
  --font-size-400: 16px;
  --font-size-500: 18px;
  --font-size-600: 20px;
  --font-size-700: 24px;
  --font-size-800: 32px;
  --font-size-900: 44px;
  --font-size-1000: 56px;
  --font-line-height-100: 12px;
  --font-line-height-150: 14px;
  --font-line-height-200: 16px;
  --font-line-height-300: 20px;
  --font-line-height-400: 24px;
  --font-line-height-500: 28px;
  --font-line-height-550: 30px;
  --font-line-height-600: 32px;
  --font-line-height-700: 40px;
  --font-line-height-800: 56px;
  --font-line-height-900: 64px;
  --font-line-height-1000: 88px;
  --font-family-default: Inter;
  --font-family-mono: Geist Mono;

  /**
 /* @tokens Colors
 /* @presenter Color
 */
  --text-status-warning: var(--color-yellow-800);
  --text-status-info: var(--color-blue-800);
  --text-status-success: var(--color-green-800);
  --text-status-error: var(--color-red-800);
  --text-brand-default: var(--color-brand-800);
  --text-accent-grey: var(--color-neutral-800);
  --text-accent-red: var(--color-red-800);
  --text-accent-orange: var(--color-orange-800);
  --text-accent-yellow: var(--color-yellow-800);
  --text-accent-blue: var(--color-blue-800);
  --text-accent-green: var(--color-green-800);
  --text-accent-lime: var(--color-lime-800);
  --text-accent-teal: var(--color-teal-800);
  --text-accent-purple: var(--color-purple-800);
  --text-accent-magenta: var(--color-magenta-800);
  --text-interactions-brand-pressed: var(--color-brand-1000);
  --text-default: var(--color-neutral-1000);
  --text-subtle: var(--color-neutral-800);
  --text-subtlest: var(--color-neutral-700);
  --text-inverse: var(--color-neutral-0);
  --text-disabled: var(--color-alpha-32);
  --icon-status-error: var(--color-red-800);
  --icon-status-info: var(--color-blue-800);
  --icon-status-warning: var(--color-yellow-800);
  --icon-status-success: var(--color-green-800);
  --icon-status-error-subtle: var(--color-red-600);
  --icon-status-info-sublte: var(--color-blue-600);
  --icon-status-warning-subtle: var(--color-yellow-600);
  --icon-status-success-subtle: var(--color-green-600);
  --icon-accent-grey: var(--color-neutral-600);
  --icon-accent-lime: var(--color-lime-600);
  --icon-accent-teal: var(--color-teal-600);
  --icon-accent-purple: var(--color-purple-600);
  --icon-accent-magenta: var(--color-magenta-600);
  --icon-accent-orange: var(--color-orange-600);
  --icon-accent-blue: var(--color-blue-600);
  --icon-accent-green: var(--color-green-600);
  --icon-accent-red: var(--color-red-600);
  --icon-accent-yellow: var(--color-yellow-600);
  --icon-brand-brand: var(--color-brand-700);
  --icon-default: var(--color-neutral-800);
  --icon-subtle: var(--color-neutral-700);
  --icon-subtlest: var(--color-neutral-500);
  --icon-bold: var(--color-neutral-1000);
  --icon-inverse: var(--color-neutral-0);
  --icon-disabled: var(--color-alpha-32);
  --background-status-error: var(--color-red-100);
  --background-status-info: var(--color-blue-100);
  --background-status-warning: var(--color-yellow-100);
  --background-status-success: var(--color-green-100);
  --background-status-error-bold: var(--color-red-700);
  --background-status-warning-bold: var(--color-yellow-700);
  --background-status-info-bold: var(--color-blue-700);
  --background-status-success-bold: var(--color-green-700);
  --background-accent-grey: var(--color-neutral-200);
  --background-accent-red: var(--color-red-100);
  --background-accent-orange: var(--color-orange-100);
  --background-accent-yellow: var(--color-yellow-100);
  --background-accent-blue: var(--color-blue-100);
  --background-accent-green: var(--color-green-100);
  --background-accent-lime: var(--color-lime-100);
  --background-accent-teal: var(--color-teal-100);
  --background-accent-purple: var(--color-purple-100);
  --background-accent-magenta: var(--color-magenta-100);
  --background-accent-lime-bold: var(--color-lime-700);
  --background-accent-teal-bold: var(--color-teal-700);
  --background-accent-purple-bold: var(--color-purple-700);
  --background-accent-magenta-bold: var(--color-magenta-700);
  --background-accent-red-bold: var(--color-red-700);
  --background-accent-orange-bold: var(--color-orange-700);
  --background-accent-yellow-bold: var(--color-yellow-700);
  --background-accent-blue-bold: var(--color-blue-700);
  --background-accent-green-bold: var(--color-green-700);
  --background-brand-brand: var(--color-brand-700);
  --background-interactions-brand-hover: var(--color-brand-900);
  --background-interactions-brand-pressed: var(--color-brand-1000);
  --background-interactions-default-pressed: var(--color-alpha-32);
  --background-interactions-default-hover: var(--color-alpha-14);
  --background-interactions-status-accent-hover: var(--color-red-200);
  --background-interactions-status-accent-pressed: var(--color-red-300);
  --background-default: var(--color-neutral-200);
  --background-subtle: var(--color-neutral-100);
  --background-flat: var(--color-neutral-0);
  --background-bold: var(--color-neutral-900);
  --background-disabled: var(--color-alpha-3);
  --background-alpha-default: var(--color-alpha-6);
  --background-alpha-subtle: var(--color-alpha-3);
  --blanket-default: var(--color-alpha-50);
  --border-status-error: var(--color-red-600);
  --border-brand-brand: var(--color-brand-600);
  --border-default: var(--color-alpha-14);
  --border-subtle: var(--color-alpha-6);
  --border-bold: var(--color-alpha-32);
  --border-solid-bold: var(--color-dark-neutral-700);
  --border-solid-subtle: var(--color-neutral-300);
  --border-inverse: var(--color-neutral-0);
  --border-disabled: var(--color-alpha-6);
  --chart-categorical-1: var(--color-blue-600);
  --chart-categorical-2: var(--color-blue-900);
  --chart-categorical-3: var(--color-purple-800);
  --chart-categorical-4: var(--color-purple-500);
  --chart-categorical-5: var(--color-teal-800);
  --chart-categorical-6: var(--color-teal-600);
  --chart-categorical-7: var(--color-green-400);
  --chart-categorical-8: var(--color-green-700);
  --chart-categorical-9: var(--color-lime-500);
  --chart-categorical-10: var(--color-lime-800);
  --chart-categorical-11: var(--color-yellow-500);
  --chart-categorical-12: var(--color-yellow-800);
  --chart-categorical-13: var(--color-orange-600);
  --chart-categorical-14: var(--color-orange-800);
  --chart-categorical-15: var(--color-magenta-900);
  --chart-categorical-16: var(--color-magenta-800);
  --chart-categorical-17: var(--color-magenta-600);
  --chart-categorical-18: var(--color-red-800);
  --chart-categorical-19: var(--color-red-500);
  --chart-accent-8: var(--color-orange-800);
  --chart-accent-9: var(--color-yellow-600);
  --chart-accent-10: var(--color-green-600);
  --chart-accent-12: var(--color-red-600);
  --chart-accent-13: var(--color-lime-600);
  --chart-accent-15: var(--color-purple-800);
  --chart-accent-neutral: var(--color-neutral-500);

  /**
 /* @tokens CornerRadius
 /* @presenter BorderRadius
 */
  --radius-none: var(--dimensions-none);
  --radius-xs-4: var(--dimensions-050);
  --radius-s-8: var(--dimensions-100);
  --radius-m-12: var(--dimensions-150);
  --radius-l-16: var(--dimensions-200);
  --radius-xl-24: var(--dimensions-300);
  --radius-2xl-40: var(--dimensions-500);
  --radius-3xl-64: var(--dimensions-800);
  --radius-pill: var(--dimensions-1400);

  /**
 /* @tokens Dimensions
 /* @presenter Spacing
 */

  --spacing-xxs: var(--dimensions-050);
  --spacing-xs: var(--dimensions-075);
  --spacing-s: var(--dimensions-100);
  --spacing-m: var(--dimensions-150);
  --spacing-l: var(--dimensions-200);
  --spacing-xl: var(--dimensions-300);
  --spacing-2xl: var(--dimensions-400);
  --spacing-3xl: var(--dimensions-500);
  --spacing-4xl: var(--dimensions-600);
  --icon-size-s: var(--dimensions-150);
  --icon-size-m: var(--dimensions-200);
  --icon-size-default: var(--dimensions-250);
  --icon-size-l: var(--dimensions-300);

  /**
 /* @tokens Typography
 /* @presenter FontFamily
 */
  --xs-font-family: var(--font-family);
  --xs-font-size: var(--font-size-200);
  --xs-line-height: var(--font-line-height-200);
  --s-font-family: var(--font-family);
  --s-font-size: var(--font-size-300);
  --s-line-height: var(--font-line-height-300);
  --m-font-family: var(--font-family);
  --m-font-size: var(--font-size-400);
  --m-line-height: var(--font-line-height-400);
  --l-font-family: var(--font-family);
  --l-font-size: var(--font-size-600);
  --l-line-height: var(--font-line-height-550);
  --xl-font-family: var(--font-family);
  --xl-font-size: var(--font-size-700);
  --xl-line-height: var(--font-line-height-600);
  --2xl-font-family: var(--font-family);
  --2xl-font-size: var(--font-size-800);
  --2xl-line-height: var(--font-line-height-700);
  --3xl-font-family: var(--font-family);
  --3xl-font-size: var(--font-size-900);
  --3xl-line-height: var(--font-line-height-800);
  --type-modifier-mono: var(--font-family-mono);
  --type-modifier-default: var(--font-family);
  --weight-modifier-regular: var(--font-weight-regular);
  --weight-modifier-medium: var(--font-weight-medium);
  --weight-modifier-semibild: var(--font-weight-semi-bold);
  --weight-modifier-bold: var(--font-weight-bold);
  --4xl-font-family: var(--font-family);
  --4xl-font-size: var(--font-size-1000);
  --4xl-line-height: var(--font-line-height-900);
}
:root[data-theme='dark'] {
  /**
 /* @tokens Colors
 /* @presenter Color
 */
  --text-status-warning: var(--color-yellow-300);
  --text-status-info: var(--color-blue-300);
  --text-status-success: var(--color-green-300);
  --text-status-error: var(--color-red-300);
  --text-brand-default: var(--color-brand-300);
  --text-accent-grey: var(--color-dark-neutral-800);
  --text-accent-red: var(--color-red-300);
  --text-accent-orange: var(--color-orange-300);
  --text-accent-yellow: var(--color-yellow-300);
  --text-accent-blue: var(--color-blue-300);
  --text-accent-green: var(--color-green-300);
  --text-accent-lime: var(--color-lime-300);
  --text-accent-teal: var(--color-teal-300);
  --text-accent-purple: var(--color-purple-300);
  --text-accent-magenta: var(--color-magenta-300);
  --text-interactions-brand-pressed: var(--color-dark-neutral-300);
  --text-default: var(--color-dark-neutral-900);
  --text-subtle: var(--color-dark-neutral-800);
  --text-subtlest: var(--color-dark-neutral-700);
  --text-inverse: var(--color-dark-neutral-100);
  --text-disabled: var(--color-dark-alpha-20);
  --icon-status-error: var(--color-red-300);
  --icon-status-info: var(--color-blue-300);
  --icon-status-warning: var(--color-yellow-300);
  --icon-status-success: var(--color-green-300);
  --icon-status-error-subtle: var(--color-red-500);
  --icon-status-info-sublte: var(--color-blue-500);
  --icon-status-warning-subtle: var(--color-yellow-500);
  --icon-status-success-subtle: var(--color-green-500);
  --icon-accent-grey: var(--color-dark-neutral-600);
  --icon-accent-lime: var(--color-lime-500);
  --icon-accent-teal: var(--color-teal-500);
  --icon-accent-purple: var(--color-purple-500);
  --icon-accent-magenta: var(--color-magenta-500);
  --icon-accent-orange: var(--color-orange-500);
  --icon-accent-blue: var(--color-blue-500);
  --icon-accent-green: var(--color-green-500);
  --icon-accent-red: var(--color-red-500);
  --icon-accent-yellow: var(--color-yellow-500);
  --icon-brand-brand: var(--color-brand-500);
  --icon-default: var(--color-dark-neutral-800);
  --icon-subtle: var(--color-dark-neutral-700);
  --icon-subtlest: var(--color-dark-neutral-500);
  --icon-bold: var(--color-dark-neutral-900);
  --icon-inverse: var(--color-dark-neutral-100);
  --icon-disabled: var(--color-dark-alpha-20);
  --background-status-error: var(--color-red-1000);
  --background-status-info: var(--color-blue-1000);
  --background-status-warning: var(--color-yellow-1000);
  --background-status-success: var(--color-green-1000);
  --background-status-error-bold: var(--color-red-400);
  --background-status-warning-bold: var(--color-yellow-400);
  --background-status-info-bold: var(--color-blue-400);
  --background-status-success-bold: var(--color-green-400);
  --background-accent-grey: var(--color-dark-neutral-300);
  --background-accent-red: var(--color-red-1000);
  --background-accent-orange: var(--color-orange-1000);
  --background-accent-yellow: var(--color-yellow-1000);
  --background-accent-blue: var(--color-blue-1000);
  --background-accent-green: var(--color-green-1000);
  --background-accent-lime: var(--color-lime-1000);
  --background-accent-teal: var(--color-teal-1000);
  --background-accent-purple: var(--color-purple-1000);
  --background-accent-magenta: var(--color-magenta-1000);
  --background-accent-lime-bold: var(--color-lime-400);
  --background-accent-teal-bold: var(--color-teal-400);
  --background-accent-purple-bold: var(--color-purple-400);
  --background-accent-magenta-bold: var(--color-magenta-400);
  --background-accent-red-bold: var(--color-red-400);
  --background-accent-orange-bold: var(--color-orange-400);
  --background-accent-yellow-bold: var(--color-yellow-400);
  --background-accent-blue-bold: var(--color-blue-400);
  --background-accent-green-bold: var(--color-green-400);
  --background-brand-brand: var(--color-brand-600);
  --background-interactions-brand-hover: var(--color-brand-600);
  --background-interactions-brand-pressed: var(--color-brand-500);
  --background-interactions-default-pressed: var(--color-dark-alpha-20);
  --background-interactions-default-hover: var(--color-dark-alpha-10);
  --background-interactions-status-accent-hover: var(--color-red-900);
  --background-interactions-status-accent-pressed: var(--color-red-800);
  --background-default: var(--color-dark-neutral-300);
  --background-subtle: var(--color-dark-neutral-200);
  --background-flat: var(--color-dark-neutral-100);
  --background-bold: var(--color-dark-neutral-900);
  --background-disabled: var(--color-dark-alpha-4);
  --background-alpha-default: var(--color-dark-alpha-8);
  --background-alpha-subtle: var(--color-dark-alpha-4);
  --blanket-default: var(--color-dark-alpha-50);
  --border-status-error: var(--color-red-500);
  --border-brand-brand: var(--color-brand-400);
  --border-default: var(--color-dark-alpha-10);
  --border-subtle: var(--color-dark-alpha-8);
  --border-bold: var(--color-dark-alpha-20);
  --border-solid-bold: var(--color-dark-neutral-700);
  --border-solid-subtle: var(--color-neutral-300);
  --border-inverse: var(--color-dark-neutral-0);
  --border-disabled: var(--color-dark-alpha-8);
  --chart-categorical-1: var(--color-blue-500);
  --chart-categorical-2: var(--color-blue-200);
  --chart-categorical-3: var(--color-purple-400);
  --chart-categorical-4: var(--color-purple-500);
  --chart-categorical-5: var(--color-teal-400);
  --chart-categorical-6: var(--color-teal-500);
  --chart-categorical-7: var(--color-green-400);
  --chart-categorical-8: var(--color-green-600);
  --chart-categorical-9: var(--color-lime-500);
  --chart-categorical-10: var(--color-lime-400);
  --chart-categorical-11: var(--color-yellow-500);
  --chart-categorical-12: var(--color-yellow-400);
  --chart-categorical-13: var(--color-orange-500);
  --chart-categorical-14: var(--color-orange-400);
  --chart-categorical-15: var(--color-magenta-200);
  --chart-categorical-16: var(--color-magenta-300);
  --chart-categorical-17: var(--color-magenta-500);
  --chart-categorical-18: var(--color-red-400);
  --chart-categorical-19: var(--color-red-500);
  --chart-accent-8: var(--color-orange-600);
  --chart-accent-9: var(--color-yellow-500);
  --chart-accent-10: var(--color-green-500);
  --chart-accent-12: var(--color-red-500);
  --chart-accent-13: var(--color-lime-500);
  --chart-accent-15: var(--color-purple-300);
  --chart-accent-neutral: var(--color-dark-neutral-500);
}
