.dateWithTimePicker {
  :global {
    .react-datepicker .react-datepicker__today-button {
      position: absolute;
      background: white;
      color: var(--brand-primary);
      border: none;
      box-shadow: 0 0 4px 0 var(--color-neutral-400);
      font-weight: 400;
      font-size: var(--s-font-size);
      bottom: -36px;
      left: 0;
      width: 100%;
    }
  }
  &__footer {
    display: flex;
    cursor: auto;
    margin: 0 5px;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
  }
}
