@import '../../../../designTokens/scssVariables.scss';

.switch {
  position: relative;
  background-color: var(--background-accent-grey);
  transition: all 0.3s ease;
  margin-right: 3px;
  border: 1px solid var(--border-subtle);

  &__on {
    background-color: var(--background-status-info-bold);
  }

  &__inner {
    position: absolute;
    top: 2px;
    border-radius: 50%;
    background-color: var(--background-flat);
    transition: all 0.3s ease;
    @include overlayBoxShadow;
  }

  &__disabled {
    opacity: 0.5;
  }

  input[type='checkbox'] {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    cursor: pointer;

    &.checkbox__disabled {
      cursor: not-allowed;
    }
  }

  &__medium {
    width: calc((var(--s-font-size) * 2) + 4px);
    height: calc((var(--m-font-size) + 4px));
    border-radius: calc((var(--l-font-size) + 2px));
  }

  &__small {
    width: calc(var(--xs-font-size) * 2);
    height: calc(var(--s-font-size));
    border-radius: calc(var(--s-font-size));
  }
}
